<nav class="navbar">
    <a href="{{ path('article_index')}}">Home</a>
    {% if app.user %}
        <a href="/">My articles</a>
        <a href="{{ path('article_add') }}">Add an article</a>
        <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
</nav>